/*===============
  global styles
===============*/

@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  --header-font: 'Sen', sans-serif;
  --header-font-weight: bold;
  --header-font-size: calc(24 / 1440 * 100vw);
  --nav-font-size: calc(20 / 1440 * 100vw);
  --body-font: 'Inter', sans-serif;
  --body-font-weight: normal;
  --body-font-size: 16px;
  --clr-bg: #fff;
  --clr-fg: #555;
  --pfp-size: 300;
  --logo-size: 100;

  --clr-purple: #263E59;
  --clr-red: #EB5E55;
  --clr-gray: #C0D6DF;
  --clr-darkgray: #6E8898;
  --clr-blue: #30BCED;
  --clr-white: #FFFFFF;
}

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  background-color: inherit;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  box-shadow: none;
  box-sizing: border-box;
}


body {
  font-family: var(--body-font);
  font-size: var(--body-font-size);
  font-weight: var(--body-font-weight);
  background-color: var(--clr-bg);
  line-height: 1.5;
  color: var(--clr-purple);
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--header-font);
  font-size: var(--header-font-size);
  font-weight: var(--header-font-weight);
}

h1 {
  font-size: calc(2 * var(--header-font-size));
}

h2 {
  font-size: calc(1.5 * var(--header-font-size));
}

h4 {
  font-size: calc(0.75 * var(--header-font-size));
}

section {
  /* border:   solid black 1px; */
}

/*===============
scrollbar styles
===============*/

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--clr-gray);
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--clr-darkgray);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--clr-red);
}

/*===============
section styles
===============*/

#home {
  height: 100vh;
  display: flex;
  background: rgb(234,234,234);
  background: linear-gradient(113deg, rgba(234,234,234,1) 0%, rgba(99,189,255,1) 100%);

  .logo {
    position: absolute;
    top: calc(30 / 1440 * 100vw);
    left: calc(30 / 1440 * 100vw);
    width: calc(112 / 1440 * 100vw);
    height: auto;
  }

  .nav {
    position: absolute;
    height: 24px;
    top: calc(46 / 775 * 100vh);
    right: calc(30 / 1440 * 100vw);
    color: var(--clr-darkgray);

    a:hover {
      color: var(--clr-red);
    }
  }

  .nav_list {
    height: inherit;
    width: calc(670 / 1440 * 100vw);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
  }

  .nav_list * {
    text-decoration: none;
    font-family: var(--header-font);
    font-size: var(--nav-font-size);
    font-weight: var(--header-font-weight);
  }

  .hero {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hero .icon-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: calc(30 / 1440 * 100vw);
    /* width: calc(180 / 1440 * 100vw); */
    margin-top: calc(20 / 1440 * 100vw);
  }

  .hero .icon {
    width: calc(40 / 1440 * 100vw);
    height: auto;
  }

  .red {
    color: var(--clr-red);
  }

  /* flag: remove when debugging borders are gone */
  border: none;
}

#about {
  height: 70vh;
  background-color: #fff;

  .header {
    text-align: center;
    padding-top: calc(60 / 775 * 100vh);
    padding-bottom: calc(60 / 775 * 100vh);
  }

  .hero {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  --container-size: calc(0.6 * 60vh);
  --offset-size: calc(var(--container-size) / 8);
  .profile-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
  }

  .profile-dec {
    z-index: 0;
    position: absolute;
    width: var(--container-size);
    height: auto;
    background: none;
  }

  .profile-border {
    z-index: 1;
    width: calc(var(--container-size) - var(--offset-size));
    height: calc(var(--container-size) - var(--offset-size));
    border-radius: 100%;
    background: rgb(99,189,255);
    background: radial-gradient(circle, rgba(99,189,255,1) 60%, rgba(255,255,255,1) 70%);
  }

  .profile-mask {
    width: calc(var(--container-size) - var(--offset-size) - 20px);
    height: calc(var(--container-size) - var(--offset-size) - 20px);
    border-radius: 100%;
    margin: 10px 0 0 10px;
    overflow: hidden;
  }

  .profile-pic {
    width: calc(var(--container-size) - 3 * var(--offset-size));
    height: auto;
    transform: scale(1.5);
    margin: -6% 0 0 10%;
  }

  .profile-text {
    z-index: 1;
    width: 55vw;
    height: 100%;
    margin-left: -5vw;
    padding-left: 5vw;
    padding-right: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
  }

  /* flag: remove when done with debug borders */
  border: none;
}

#experience {
  min-height: 50vh;
  background-color: #C0D6DF; /* FLAG: USE VARIABLES */

  .spacer-top {
    height: 10vh;
    background: rgb(192,214,223);
    background: linear-gradient(0deg, rgba(192,214,223,1) 0%, rgba(255,255,255,1) 100%);
  }
  .spacer-bottom {
    height: 10vh;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(192,214,223,1) 100%);
  }

  .header {
    text-align: center;
    padding-top: calc(60 / 775 * 100vh);
    padding-bottom: calc(60 / 775 * 100vh);
  }

  .hero {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .work-container {
    width: 85%;
    /* min-height: calc(217 / 775 * 100vh); */
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #FFFFFF;
    margin-bottom: calc(30 / 775 * 100vh);
    padding: 20px 0 20px 0;

    .logo {
      /* width: calc(var(--logo-size) / 1440 * 100vw); */
      /* height: calc(var(--logo-size) / 775 * 100vh); */
      height: 15vw;
      border-radius: 10px;
    }

    .divider {
      display: none;
      height: 7vw;
      border: 3px solid #6E8898;
      border-radius: 5px;
      /* margin-bottom: 8vw; */
    }

    .description-container {
      width: 70%;

      .position {
        font-size: 24px;
        font-weight: bold;
      }

      .organization {
        font-size: 20px;
        font-weight: normal;
      }

      .date {
        font-size: 16px;
        font-weight: normal;
      }

      .description {
        font-size: 16px;
        font-weight: normal;

        margin-top: 10px;
      }
    }
  }

  .work-container * {
    /* border: 1px solid black; */
  }

  /* flag: remove when done with debug borders */
  border: none;
}

#education {
  padding: 2em 0 0 0;

  .work-container {
    width: 85%;
    /* min-height: calc(217 / 775 * 100vh); */
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #FFFFFF;
    margin-bottom: calc(30 / 775 * 100vh);
    padding: 20px 0 20px 0;

    .logo {
      /* width: calc(var(--logo-size) / 1440 * 100vw); */
      /* height: calc(var(--logo-size) / 775 * 100vh); */
      height: 15vw;
      border-radius: 10px;
    }

    .divider {
      display: none;
      height: 7vw;
      border: 3px solid #6E8898;
      border-radius: 5px;
      /* margin-bottom: 8vw; */
    }

    .description-container {
      width: 70%;

      .position {
        font-size: 24px;
        font-weight: bold;
      }

      .organization {
        font-size: 20px;
        font-weight: normal;
      }

      .date {
        font-size: 16px;
        font-weight: normal;
      }

      .description {
        font-size: 16px;
        font-weight: normal;

        margin-top: 10px;
      }
    }
  }

  /* flag: remove when done with debug borders */
  border: none;
}


#footer {
  height: 34vh;
  width: 100%;

  .hero {
    position: relative;
    min-height: calc(300 / 775 * 100vh);
    display: flex;
    flex-direction: row;

    .scroll {
      position: absolute;
      bottom: 30px;
      right: 30px;

      .icon {
        width: 50px;
        height: auto;
      }
    }

    .tag {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding-left: calc(100 / 1440 * 100vw);

      h1 {
        font-size: 48px;

        .blue {
          color: #30BCED;
        }
      }

      .icon-bar {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: calc(30 / 775 * 100vh);
        margin-top: calc(30 / 775 * 100vh);

        .logo {
          width: 50px;
        }
        .icon {
          width: 34px;
        }
      }
    }

    .nav {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: calc(25 / 775 * 100vh);
      padding-left: calc(90 / 1440 * 100vw);

      font-size: 20px;
      font-family: var(--header-font-family);
      font-weight: var(--header-font-weight);
      color: var(--clr-darkgray);

      a {
        text-decoration: none;
      }
      a:hover {
        color: var(--clr-red);
      }

      .work {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: calc(80 / 1440 * 100vw);

        .list {
          display: flex;
          flex-direction: column;
          gap: calc(15 / 775 * 100vh);

          font-weight: normal;
        }
      }

    }
  }

  .credit {
    min-height: 4vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #C0D6DF;
  }
}
/* ----------------------------------------- */





#skills {
  height: 50vh;
  text-align: center;
}

#project {
  /* height: 150vh; */
  /* min-height: 30vh; */
  text-align: center;
  background-color: #30BCED;

  .project {
    min-height: 30vh;
  }

  .spacer-top {
    height: 10vh;
    background: #30BCED;
    background: linear-gradient(0deg, #30BCED 0%, rgba(255,255,255,1) 100%);
  }
  .spacer-bottom {
    height: 10vh;
    background: #FFFFFF;
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, #30BCED 100%);
  }
}


/*===============
section styles END
===============*/

.scroll-top {
  display: none;
  position: fixed;
  bottom: 1em;
  right: 2em;
  background-color: transparent;
  font-size: 1.8rem;
  transition: transform 0.2s ease-in-out;
}
